API_PORT=8080

POSTGRES_PORT=5432
POSTGRES_DB=equitylens
POSTGRES_USER=equitylens
POSTGRES_PASSWORD=equitylens_dev_password

REDIS_PORT=6379

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=equitylens
MINIO_ROOT_PASSWORD=equitylens_dev_password
MINIO_BUCKET=equitylens
