{
	admin off
}

:2015 {
	respond /healthz "ok" 200
}

equitylens.duckdns.org {
	tls {
		issuer acme {
			disable_http_challenge
		}
	}
	encode zstd gzip

	@health path /healthz
	respond @health "ok" 200

	reverse_proxy api:5034

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
	}

	log {
		output stdout
		format console
	}
}
